body,html{
	overflow-y: hidden;
	overflow-x: hidden;
	background-image: url(../image/footer_lodyas.png);
}
div{
	padding-top: inherit;

}

.button {
background-image: linear-gradient(-16deg, rgba(0, 0, 0, 1) 50%, #000000 50%);
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px 25px;
  position: relative;
  max-width: 100%;
}
.button:after {
  content: "";
  background: #fff;
  height: 1px;
  width: 26%;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 37%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.button:hover {
  color: #fff;
}
.button:hover:after {
  width: 70%;
  left: 15%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
