@font-face {
    font-family: Gotham-ultra;
    src: url(font/Gotham-Ultra.otf);
    src: url(font/Gotham-Ultra.woff);

 	font-family: Gotham-book;
    src: url(font/Gotham-book.otf);
    src: url(font/Gotham-book.woff);

    font-family: Gotham-Thin;
    src: url(font/Gotham-Thin.otf);
    src: url(font/Gotham-Thin.woff);

    font-family: Gotham-Medium;
    src: url(font/Gotham-Medium.otf);
    src: url(font/Gotham-Medium.woff);

}

html, body {
	height:100%;
	width:100%;
}

body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	font-family: Gotham-book;
  	font-weight: 400;
  	font-size: 1em;
}

.main {
	width: 50%;
	float: left;
}

.left {
	padding: 50px 100px;
}

.logo {
	max-width: 300px;
	float: left;
	font-family: Gotham-Thin;
  	letter-spacing: 0.08em;
  	text-transform: uppercase;
  	border-top: solid 2px black;
  	padding-top: 4px;
}

.logo-bold {
	width: 150px;
	font-family: Gotham-ultra;
}

h1 {
	font-family: Gotham-ultra;
  	font-weight: 900;
  	font-size: 2.5vw;
  	letter-spacing: 0.08em;
  	text-transform: uppercase;
  	margin-top: 50px;
  	max-width: 60%;
  	line-height: 1.3em; 
}

.synopsis {
	font-family: Gotham-book;
  	margin-top: 20px;
  	color: #666;
  	line-height: 1.5em;
}

h2 {
	font-family: Gotham-ultra;
  	font-size: 1.2em;
  	letter-spacing: 0.08em;
  	text-transform: uppercase;
  	margin-top: 30px;
  	max-width: 100%;
}

li {
	display: inline-block;
	margin: 0.5em
}

.seasons  {
	text-decoration: none;
	color: #666;
	font-family: Gotham-Medium;
	font-size: 0.9em;
	text-transform: uppercase;
	padding: 0.7vw 0.8vw;
	border: none;
	background-color: #fff;
	white-space: nowrap;
	overflow: scroll;
}

.seasons input {
	cursor: pointer;
}

.active {
	border-bottom: solid 3px #cb4460;
	color: #222 !important;
}

/******** SEARCH BAR *********/

.inputstyle{
	float: right;
	width: 40%; 
	border: none;
	border-bottom: solid 2px #cb4460 !important;
	font-size: 0.8em;
	font-family: Gotham-book;
	font-weight: 300;
  	padding-left: 1%;
}

*::-webkit-input-placeholder {
    color: #c5687c;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #c5687c;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #c5687c;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #c5687c;
}

input:focus{
  outline:none;
}

button:focus{
  outline:none;
}

.search {
	float: right;
	position: absolute;
	left: 42%;
	margin-top: -2px;
	background: none;
	border: none;
	color: #cb4460;
	cursor: pointer;
}

/********/


/******* RIGHT ***/

.right {
	width: 50%;
	height:100%;
	float: right;
	left: 0;
	background-size:cover;
	background-position:center;

}

.img-serie {
	height: 100%;
}

.other-serie {
	width: 20%;
	height: 20%;
	z-index: 10000;
	background-color: #fff;
}

.other-serie i {
	color: red;
	width: 100px;
	margin: 200px;
}

.white-block {
	right: 0;
	bottom: 70px;
	width: 120px;
	height: 120px;
	z-index: 1000;
	position: absolute;
	background-color: #fff;
}

.white-block>i {
	top: 35px;
	left: 55px;
	position: absolute;
}

.white-block>i:before {
	font-size: 50px;
	text-align: center;
	color: #ccc;
	top: 50px;
	left: 50px;
}

.white-block:hover {
	width: 300px;
}
nav {
    position:relative;
     border-top:1px solid #ddd;
    margin:30px;
}
ul {
    padding-top:8px;
}
li {
    display:inline-block;
    padding:0 18px;
    }
li a {
    color:#333;
    text-decoration:none;
    font-family:serif;
}
.line {
    position:absolute;
    height:3px;
    width:18px;
    background-color:teal;
    top:0;
    left:0;
    -webkit-transition:margin .3s linear;
    -moz-transition:margin .3s linear;
    -o-transition:margin .3s linear;
    transition:margin .3s linear;
    display:none;
}

.line a:visited{
	color:red;
}

input.seasons.current-menu-item.first a:active{
	color:red;

}


